.logo{
  padding-top: 10px;
  margin-left: 20px;
  height: 100px;
  width: 80px;
}
.bg{
  background-color: #083546;
  color: azure;
}
ul li a{
 color: rgb(209, 195, 195);
 font-size: 19px;
}
ul li a:hover{
  color: burlywood;
}
.navbar{
  display: inline-block;
  text-align: center;
  margin-right: 15px;
  padding-top: 20px;
}
.navbar-expand-lg .navbar-collapse{
  justify-content: right;
  margin-right: 5px;
}
.col-3 h4{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-left: 10px; */
  margin-top: 30px;
}
/* .navdesign{
  background-color: ;
} */
.input-group{
  border-radius: 50%;
}