<div class="container">
    <div class="row mt-5 footer">
        <div class="col-md-6 col-lg-3 ">
            <div class="imagefooter">
                <img src="../../assets/images/Group 37.png" width="50px" height="50px">
               <p>Phone</p>
                <p>9009898900</p>
           </div>
        </div>
        <div class="col-md-6 col-lg-3 imagefooter">
            <img src="../../assets/images/Group 41.png" width="50px" height="50px">
            <!-- <a href="">Opening Time</a> -->
            <p>
                Opening-Time
            </p>
            <p>7:00Am to 8:00Pm</p>
        </div>
        <div class="col-md-6 col-lg-3 imagefooter">
            <img src="../../assets/images/Group 43.png" width="50px" height="50px">
            <p>Mail</p>
            <p>Dyanamic@gmail.com</p>

        </div>
        <div class="col-md-6 col-lg-3 imagefooter">
            <img src="../../assets/images/Group 45.png" width="50px" height="50px">
            <p>Address</p>
            <p>Indore M.P.</p>
        </div>

    </div>
    <div class="row icons">
        <div class="col-md-3">

        </div>
        <div class="col-md-2">
          <img src="../../assets/images/akar-icons_twitter-fill.png" width="50px" height="50px">
        </div>
        <div class="col-md-2">
            <img src="../../assets/images/ph_instagram-logo-thin.png"  width="50px" height="50px">
          </div>
          <div class="col-md-2">
            <img src="../../assets/images/Vector(1).png"  width="50px" height="50px">
          </div>
          <div class="col-md-3">

        </div>
    </div>

</div>