<div class="container">
 <table class="table table-danger">
    <thead>
        <tr>
            <th>SNo.</th>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
            <!-- <th>Edit</th> -->
            <th>Delete</th>
            <!-- <th>AddCart</th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cart of cartList;index as SNo">

            <td>{{SNo+1}}</td>
            <td>{{cart.productName}}</td>
            <td>{{cart.productPrice}}</td>
            <td> <img  width="100px 100px" src={{cart.productImageUrl}} alt="loading"> </td>
            <td> <button class="btn btn-primary" (click)="removeFromCart(cart._id)"  >Delete</button></td>
            <!-- <td> <button class="btn btn-danger" (click)="placeOrder()">Place Order</button></td> -->
            <!-- <td> <button class="btn btn-danger" (click)="Editcart(product._id)"> </button></td> -->

        </tr>

    </tbody>
</table>
  <button class="btn btn-danger" (click)="placeOrder()">Place Order</button>
</div>
