

<div class="container">
    <form >
      <p class="form-group">
        <input type="text" [(ngModel)]="productName" class="form-control"  name="productName" id="">
      </p>
      <p class="form-group">
        <input type="text" [(ngModel)]="productPrice" class="form-control"  name="productPrice" id="">
      </p>   
         <p class="form-group">
             <input type="text" [(ngModel)]="productDiscount" class="form-control"  name="productQty" id="">
       </p>
       <p class="form-group">
        <input type="text" [(ngModel)]="productQty" class="form-control" placeholder="Enter the Qty" name="productQty" id="">
   </p>
   <p class="form-group">
    <input type="text" [(ngModel)]="Address" class="form-control" placeholder="please Enter your addres" name="Address" id="">
</p>
<p class="form-group">
    <input type="text" [(ngModel)]="city" class="form-control" placeholder="please Enter your city" name="city" id="">
</p>
<p class="form-group">
    <input type="text" [(ngModel)]="Mobile" class="form-control" placeholder="please Enter your Mobile" name="mobile" id="">
</p>
      <p class="form-group">
          <button type="submit" (click)="placeOrderHtml()" class="btn btn-primary">
           procided to Payment
          </button>
      </p>
    </form>
    </div>
    