<!-- <p>product works!</p> -->
<div class="container">
    <div class="row yellow">
        <div class="col-md-5">

         <img src="{{productImageUrl}}" alt="card-image" width="330px" height="330px">
        </div>

        <div class="col-md-7 hello">

        <div class="card-body photo">

             <h1>{{productName}}</h1>
            <h4>{{productDescription}}</h4>
            <h3><img src="../../assets/images/rupees.png"width="30px" height="30px" style="margin-top: 50px;">{{productPrice}}</h3 >
          <div class="cartfav">
            <img (click)='addToCart()' src="../../assets/images/cart.png" width="50px" height="50px" >
            <img src="../../assets/images/favorite.png" width="50px" height="50px">
          </div>
          <div class="btun">
            <button (click)=" buyNow()"type="submit" class="btn btn-danger">Buy Now</button>


          </div>
        </div>

    </div>
</div>

