<!-- 
<div class="container mr-5">
    <form class="from-group " #userpost="ngForm" (ngSubmit)="userSignIn(userpost.value)">
            <div class="col-md-7 mt-3">
            <label>UserEmail</label>
            <input type="email" class=" mt -2 form-control" ngModel name="userEmail" placeholder="Enter Your Email address">
        </div>
        <div class="col-md-7 mt-3 ">
            <label>Password</label>
            <input type="password" class="mt -2 form-control" ngModel name="userPassword" placeholder="Enter Your Name">
        </div>
        <div class="col-md-2 mt-3">
        <button type="submit"  class=" mt -2btn btn-primary form-control">Sign In</button>
    </div>
    </form>
    </div> -->

<div class="container mr-5">
    <form class="from-group ">
            <div class="col-md-7 mt-3">
            <label>UserEmail</label>
            <input [(ngModel)]="userEmail" type="email" class=" mt -2 form-control"  name="userEmail" placeholder="Enter Your Email address">
        </div>
        <div class="col-md-7 mt-3 ">
            <label>Password</label>
            <input [(ngModel)]="userPassword" type="password" class="mt -2 form-control "  name="userPassword" placeholder="Enter Your Name">
        </div>
        <div class="col-md-2 mt-3">
        <button (click)="userSignIn()" type="submit"  class=" mt -2 btn btn-primary form-control">Sign In</button>
    </div>
    </form>
    </div>
    <!-- <h1>{{userEmail}}</h1>
    <h1>{{userPassword}}</h1> -->