.col-md-3 img{
    /* width: 100%; */
    /* height: 60%; */
    border-radius: 50%;
    /* padding-top: 50px; */
    /* margin-top: 80px; */
    image-resolution: initial;
    /* box-shadow: 5px 5px 5px aquamarine; */
    margin-bottom: 15px;
}
.col-md-3 a{
    text-decoration: none;
    text-align: center;
    color: black;
    margin-left: 37%;
    box-shadow: 5%;
    font-size: 20px;
    
    
}
.btn{
    color: #5a3f3f;
display: flex;
height: 50px;
width: 222px;
border: 1px solid;
font-size: 26px;
box-shadow: 2px 2px 2px 2px red ;


}
.cat{
   
    display: flex;
    text-align: center;
    justify-content: center;
   }
.cat button{
    margin:80px 0;
}
.category-card{
    width: 280px;
    height: 280px;
}
.category-image{
    width: 250px;
    height: 250px;
}
.category-image img{
    width: 100%;
    height: 100%;
}