
<div class="container">
  <div class="cat  justify-content-center">
    <!-- <img src="../../assets/images/WhatsApp Image 2022-04-19 at 12.59.45 PM.jpeg"width="300px" height="100px" > -->
    <button class="btn justify-content-center mt-5">Category</button>
  </div> 
    <div class="row ">
        <div class="col-md-3 category-card">
        <div class="category-image">
            <img src="../../assets/images/pexels-julie-aagaard-2097090.jpg" >
        </div>
         <a href="">Punjabi </a>
        </div>
        <div class="col-md-3  category-card">
            <div class="category-image">
                <img src="../../assets/images/pexels-ella-olsson-1640777.jpg" >

            </div>
            <a href="">Bengoli </a>
        </div>
        <div class="col-md-3  category-card">
            <div class="category-image" >
                <img src="../../assets/images/pexels-anna-tukhfatullina-food-photographerstylist-2750558.jpg" >

            </div>
            <a href="">Gujrati </a>
        </div>
        <div class="col-md-3  category-card">
            <div class="category-image">
                <img src="../../assets/images/pexels-valeria-boltneva-1893556.jpg" >

            </div>
            <a href="">Marathi </a>
        </div>

    </div>
    
</div>
